.list {
  width: 500px;

  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-inline-start: 0;

  &__item {
    margin-top: 10px;
    line-height: 1.2;
    list-style-image: none;
    list-style-type: none;
    padding-left: 25px;
    position: relative;
  }
  &__link {
    text-decoration: none;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: auto;

  }
}

.refresh-btn {
  display: none;
}
