@import "~css-reset-and-normalize";
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.list {
  width: 500px;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-inline-start: 0;

  &__item {
    margin-top: 10px;
    line-height: 1.2;
    list-style-image: none;
    list-style-type: none;
    padding-left: 25px;
    position: relative;
  }
  &__link {

  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: auto;

  }
}

.sub-list {
  padding-left: 8px;
  max-height: 100px;
  overflow: hidden;
  overflow-y: auto;
  .sub-list__item {
    margin-top: 2px;
  }
}

.refresh-btn {
  display: none;
}
