<ul class="list">
  <li class="list__item" *ngFor="let historyItem of structuredByDomain ">
    <a class="list__link" [href]="historyItem.items[0].url" [title]="historyItem.items[0].url" target="_blank">
      <img class="list__icon" [src]="'https://' + historyItem.url + '/favicon.ico'" (error)="$event.target.src='assets/browser16.png'" alt="">
      <b>{{ historyItem.url }}</b> - {{ historyItem.items[0].title }}
    </a>
    <ul class="sub-list" *ngIf="historyItem.items.length > 1">
      <li class="sub-list__item" *ngFor="let historyURLItem of historyItem.items "><a class="sub-list__link" [title]="historyURLItem.url" [href]="historyURLItem.url" target="_blank">
        {{ historyURLItem.title }}
      </a></li>
    </ul>

  </li>
</ul>

<button class="refresh-btn" (click)="test = 2">{{ test }}</button>

